h1 {
    font-size: 34px;
    color: steelblue;
}
q {
    font-family: monospace;
    font-style: oblique;
}
body {
    background-color:lightcyan;
}
.output {
    color:grey
}
button {
    color: steelblue;
}
.list {
    margin-bottom: 20px;
}